<hr class="featurette-divider">

<div class="row featurette">

    <div class="row">
        <div class="col-md-2">
            <!-- Sidebar content -->
            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </div>
        <div class="col-md-10">
            <!-- Body content -->
            <ul class="products">
                <li ng-repeat="product in products | filter:query | orderBy:orderProp" class="thumbnail">
                    <a href="#/products/{{product.id}}" class="thumb">
                        <img ng-src="{{product.imageUrl}}">
                    </a>
                    <a href="#/products/{{product.id}}">{{product.name}}</a>
                    <p>{{product.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    <!-- /.container -->
</div>

